
<div class="user-database ">
        <span class="tooltip">
        <img src="assets/user-database-512.png" height="10%" width="5%" >
        <span class="tooltiptext">User Profile vexere</span>
        </span>
        
</div>
<div>
        <span class="arrow user-database">&#8593;</span>
</div>
<div class="flex">
         <div class="tooltip">
             
             <i class="fa fa-university bank-font-size hello" aria-hidden="true"></i>
             <span class="tooltiptext"> Bank Client </span>
         </div>
         <span class="tooltip">
    <span class="arrow">&#8594;</span>
    <span class="tooltiptext">Single sign on</span>
        </span>
    
    <span class="box-model">
            CNX Reception GateWay
    </span>
    <span class="tooltip">
    <span class="arrow">&#8594;</span>
    <span class="tooltiptext">Orxe 2.O</span>
    </span>
    
    
</div>
<span class="arrow arrow-double">&#8593;</span>
<span class="arrow arrow-double-side">&#8595;</span>
<div class="user-database ">
    <span class="tooltip">
    <i class="fa fa-sitemap hiearchy-font" aria-hidden="true"></i> 
    <span class="tooltiptext">Hiearchy</span>
        
    </span>
</div>




