.user-database{
    margin-left: 37%;
    
}
.arrow{
    font-size: 70px;
}
.box-model{
    padding-top: 1%;
    padding-right: 8px;
    align-items: center;
    width: 20%;
    text-align: center;
    font-size: 21px;
    -webkit-box-shadow: -5px 7px 19px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 7px 19px 3px rgba(0,0,0,0.75);
    box-shadow: -5px 7px 19px 3px rgba(0,0,0,0.75);
}
.flex{
    display: flex;
}
.tooltip {
    
    position: relative;
    
  }
  .bank-font-size{
      font-size: 70px;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    width: 200px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
img.hello{
    width: 100px;
}
.arrow-double{
    margin-left: 34%;
}
.arrow-double-side{
    position: relative;
    margin-left: 4%;
}
.hiearchy-font{
    font-size: 70px;
}
.arrow-orxe{
    margin-left: 75px;
    font-size: 76px;
}
