
.tooltip {
    
    position: relative;
    
  }
  .bank-font-size{
      font-size: 82px;
  }
  .tooltip .tooltiptext {
    display: none;
    background-color: black;
    width: 100px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    display: block;
  }
  .flex{
      display: flex;
  }
  .arrow{
    font-size: 70px;
}
.box-model{
    padding-top: 2%;
    padding-bottom: 1%;
    align-items: center;
    text-align: center;
    width: 80px;
    font-size: 21px;
    -webkit-box-shadow: -5px 7px 19px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 7px 19px 3px rgba(0,0,0,0.75);
    box-shadow: -5px 7px 19px 3px rgba(0,0,0,0.75);
}
.icon-font-size{
    font-size: 60px;
}
.horizontal-line{
    border: 1px solid black;
    height: 0px;
    width: 100px;
    margin-top: 28px;
    
}
.vertical-line{
    border: 1px solid black;
    height: 200px;
    width: 0px;
    
}
.center .horizontal-line{
    align-items: center;
}
.sorc-left{
    /* margin-left: 200px; */
}
.sorc-left-align{
    margin: 0 auto;
}
.sorc-down{
    
    font-size: 33px;
    /* margin-left: 184px; */

}
.flex-box{
    display: flex;
}
.flex-item{
    flex: 1;
}
.tilted-arrow{
    font-size: 66px;
    transform: rotate(335deg);
    margin-left: 20px;
    margin-top: -25px;

}
.flex-items{
    flex: 6;
}
.margin-position{
    margin-left: -72px;
    text-align: center;
}