<div class="flex">
    <i class="fa fa-database icon-font-size" aria-hidden="true"></i>
    
    <span class="horizontal-line"></span>
    
    <span class="box-model">
        MAUI
    </span>
    <span class="horizontal-line"></span>
    <i class="fa fa-users icon-font-size" aria-hidden="true"></i>
</div>

        <span class="vertical-line sorc-left"></span>
        <div class="box-model sorc-left-align">
            SORC
        </div>
        <i class="fa fa-sitemap sorc-left sorc-down" aria-hidden="true"></i>
