<div>
  <span class="tooltip">
    <img src="assets/redeem.png" height="10%" width="20%" />
    <span class="tooltiptext">Redeemption Portal</span>
  </span>
</div>
<div class="cms-api">
  <span class="arrow">&#8593;</span>
  <div class="box-model" >
    <span class="tooltip">
      CMS
      <span class="tooltiptext">templar(BFF layer)</span>
    </span>
  </div>
  <div  class="border">
    <span class="tooltip">
      <span class="stroke-border"></span>
      <span class="stroke-border"></span>
      <span class="stroke-border"></span>
      <span class="stroke-border"></span>
      <span class="stroke-border"></span>
      <span class="stroke-border"></span>
      <span class="stroke-border"></span>
      <span class="stroke-border"></span>
      <span class="tooltiptext">API</span>
    </span>
  </div>
  <div id="js-cms" class="empty">

  </div>
</div>
