<div class="container">
  <div class="flex-container">
    <div class="flex-item client">
      <p>Client</p>
    </div>
    <div class="flex-item client-arrow">
      <span class="">&#8672;</span>
    </div>
    <div class="flex-item" id="js-settings">
      <p>settings</p>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-item">
      <div class="vertical-line"></div>
    </div>
    <div class="flex-item rotate">
      <span class="cross-line">&#8675;</span>
    </div>
    <div class="flex-item settings-arrow">
      <span>&#8675;</span>
    </div>
  </div>
  <div class="flex-container margin-top">
    <div class="flex-item client" id="js-program">
      <p>Program</p>
    </div>
    <div class="flex-item horizontal-line-place-center">
      <div class="horizontal-line"></div>
    </div>
    <div class="flex-item">
      <p>Program Group</p>
    </div>
  </div>
</div>
