.flex-container{
    display: flex;
    height: 50px;
}
.flex-item{
    flex: 1;
}
.container{
    width: fit-content;
    font-size: 20px;
    margin-left:70px ;
}
.client-arrow{
    font-size: 49px;
}
.settings-arrow{
    font-size: 70px;
    text-align: center;
}
.vertical-line{
    border: 1px solid #000;
    width: 0px;
    height: 96px;
    margin-left: 20px;
}
.horizontal-line{
    border: 1px solid #000;
}
.horizontal-line-place-center{
    margin-top:19% ;
}
.margin-top{
    margin-top: 27px;
}
.cross-line{
    font-size: 78px;
}
.rotate{
    text-align: center;
    margin-left: 32px;
    transform: rotate(35deg);
}