@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.flex-container{
    display: flex ;
}
.flex-item{
    flex: 1;
}
}
.empty{
    width: 1px;
}
.margin-top{
    margin-top:  162px;
}
