@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.flex-container {
  display: flex;
}
.flex-item {
  flex: 1;
}

.empty {
  width: 1px;
}
.margin-top {
  margin-top: 162px;
}
.center {
  text-align: center;
  text-decoration: underline;
}
.clarifi-box {
  text-align: right;
  margin-right: 91px;
}
.tooltip {
  position: relative;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  width: 200px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
