<div class="display-flex">
  <div class="trips-and-engines">
    <div class="trips" id="js-trips">
      <p>Trips</p>
    </div>
    <div class="engines tool-tip" id="js-engines">
      <i class="fa fa-cog engine-size" aria-hidden="true"></i>
      <span class="tool-text position"> hotels , car , flights , activities </span>
      <span class="gear-text"> Engines </span>
    </div>
  </div>
  <div class="suppliers" id="js-supps">
    <div class="tool-tip">
      <i class="fa fa-users" aria-hidden="true"></i>
      <span class="tool-text"> Suppliers </span>
    </div>
  </div>
</div>
<app-rules ></app-rules>