<div class="flex">
  <span class="tool-tip">
    <i class="fa fa-archive tripdb-size" aria-hidden="true"></i>
    <span class="tool-text">Trip database</span>
  </span>
  <span class="tripdb-size">&#8592; &nbsp;</span>
  <span class="synchron">Synchron</span>
</div>
<div class="vertical-line"></div>
<div class="display-flex">
  <div class="trips-and-engines">
    <div class="trips" id="js-trips">
      <p>Trips</p>
    </div>
    <div class="engines tool-tip" id="js-engines">
      <i class="fa fa-cog engine-size" aria-hidden="true"></i>
      <span class="tool-text position">
        Engines
        <p>( Hotels , Car , Flights , Activities)</p>
      </span>
    </div>
  </div>
  <div class="suppliers" id="js-supps">
    <div class="tool-tip">
      <i class="fa fa-users" aria-hidden="true"></i>
      <span class="tool-text"> Suppliers </span>
    </div>
  </div>
</div>
<div class="flex">
  <div class="clarifi-box">
    <div class="clarifi-arrow">
      <span>&#8593;</span>
    </div>
  </div>
  <div>
    <span class="arrow">&#8598;</span>
  </div>
</div>
<!-- <span class="arrow arrow-margin-left">&#8593;</span> -->
