<div class="flex">
        <div class="fraud-margin-name">CC/PS</div>
        <div class="fraud-margin visibility-none"></div>
        <div class="payments-margin-name">CS/CC</div>
        <div class="ouc-margin-name">MC</div>
        <div class="communcation-margin-name">Ix FACTOR</div>
</div>
<div class="flex">

<div class="vertical-line fraud-margin"></div>
<div class="vertical-line fraud-margin visibility-none"></div>
<div class="vertical-line payments-margin"></div>
<div class="vertical-line ouc-margin"></div>
<div class="vertical-line communcation-margin"></div>
</div>
<div class="flex border">
    <span class="cnx-box-right">Fraud</span>
    <span class="cnx-box-right">OFC</span>
    <span class="cnx-box-right">Payments</span>
    <span class="cnx-box-right">OUC</span>
    <span class="cnx-box">Communication</span>
</div>